<p id="notice"><%= notice %></p>

<h2>Control y Monitoreo de Tripletas</h2>
<h2>Nacional Noche</h2>

<table>
  <thead>
    <tr>
     
      <th>Siglas:</th>
      <th>Vendida</th>
       <th>Limite</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controltnnts.each do |controltnnt| %>
      <tr>
        
        <td><b><%= controltnnt.siglas %></td>
        <td>$<%= controltnnt.vendida %></td>
        <td>$<%= controltnnt.limite %></td>
        <td><%= link_to 'Show', controltnnt %></td>
        <td><%= link_to 'Edit', edit_controltnnt_path(controltnnt) %></td>
        <td><%= link_to 'Destroy', controltnnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

