<p id="notice"><%= notice %></p>

<h1>Controltnnts</h1>

<table>
  <thead>
    <tr>
      <th>N1</th>
      <th>N2</th>
      <th>N3</th>
      <th>Siglas</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controltnnts.each do |controltnnt| %>
      <tr>
        <td><%= controltnnt.n1 %></td>
        <td><%= controltnnt.n2 %></td>
        <td><%= controltnnt.n3 %></td>
        <td><%= controltnnt.siglas %></td>
        <td><%= controltnnt.limite %></td>
        <td><%= controltnnt.vendida %></td>
        <td><%= link_to 'Show', controltnnt %></td>
        <td><%= link_to 'Edit', edit_controltnnt_path(controltnnt) %></td>
        <td><%= link_to 'Destroy', controltnnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controltnnt', new_controltnnt_path %>
