<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controltnnt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controltnnt.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @controltnnt.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controltnnt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controltnnt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controltnnt.vendida %>
</p>

<%= link_to 'Edit', edit_controltnnt_path(@controltnnt) %> |
<%= link_to 'Back', controltnnts_path %>
