<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @impresiont.ticket %>
</p>

<p>
  <strong>Jugadas:</strong>
  <%= @impresiont.jugadas %>
</p>

<%= link_to 'Edit', edit_impresiont_path(@impresiont) %> |
<%= link_to 'Back', impresionts_path %>
