<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordtleit.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordtleit.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @recordtleit.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @recordtleit.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @recordtleit.siglas %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordtleit.monto %>
</p>

<p>
  <strong>Seleccionada:</strong>
  <%= @recordtleit.seleccionada %>
</p>

<%= link_to 'Edit', edit_recordtleit_path(@recordtleit) %> |
<%= link_to 'Back', recordtleits_path %>
