<p id="notice"><%= notice %></p>

<h1>Controltreats</h1>

<table>
  <thead>
    <tr>
      <th>N1</th>
      <th>N2</th>
      <th>N3</th>
      <th>Siglas</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controltreats.each do |controltreat| %>
      <tr>
        <td><%= controltreat.n1 %></td>
        <td><%= controltreat.n2 %></td>
        <td><%= controltreat.n3 %></td>
        <td><%= controltreat.siglas %></td>
        <td><%= controltreat.limite %></td>
        <td><%= controltreat.vendida %></td>
        <td><%= link_to 'Show', controltreat %></td>
        <td><%= link_to 'Edit', edit_controltreat_path(controltreat) %></td>
        <td><%= link_to 'Destroy', controltreat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controltreat', new_controltreat_path %>
