<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controltreat.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controltreat.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @controltreat.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controltreat.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controltreat.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controltreat.vendida %>
</p>

<%= link_to 'Edit', edit_controltreat_path(@controltreat) %> |
<%= link_to 'Back', controltreats_path %>
