<p id="notice"><%= notice %></p>

<h1>Recordspleinnts</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>N1</th>
      <th>N2</th>
      <th>Siglas</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordspleinnts.each do |recordspleinnt| %>
      <tr>
        <td><%= recordspleinnt.ticket %></td>
        <td><%= recordspleinnt.n1 %></td>
        <td><%= recordspleinnt.n2 %></td>
        <td><%= recordspleinnt.siglas %></td>
        <td><%= recordspleinnt.monto %></td>
        <td><%= link_to 'Show', recordspleinnt %></td>
        <td><%= link_to 'Edit', edit_recordspleinnt_path(recordspleinnt) %></td>
        <td><%= link_to 'Destroy', recordspleinnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recordspleinnt', new_recordspleinnt_path %>
