<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordspleinnt.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordspleinnt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @recordspleinnt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @recordspleinnt.siglas %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordspleinnt.monto %>
</p>

<%= link_to 'Edit', edit_recordspleinnt_path(@recordspleinnt) %> |
<%= link_to 'Back', recordspleinnts_path %>
