<%= form_for(menuadmrresultadoglobalt) do |f| %>
  <% if menuadmrresultadoglobalt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menuadmrresultadoglobalt.errors.count, "error") %> prohibited this menuadmrresultadoglobalt from being saved:</h2>

      <ul>
      <% menuadmrresultadoglobalt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :desde %>
    <%= f.date_select :desde, :order => [:day, :month, :year]%>
  </div>

  <div class="field">
    <%= f.label :hasta %>
    <%= f.date_select :hasta, :order => [:day, :month, :year]%>
  </div>

  <div class="actions">
    <%= f.submit "Consultar" %>
  </div>

  
<% end %>
