<p id="notice"><%= notice %></p>

<p>
  <strong>Desde:</strong>
  <%= @menuadmrresultadoglobalt.desde %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @menuadmrresultadoglobalt.hasta %>
</p>

<p>
  <strong>Sucursal:</strong>
  <%= @menuadmrresultadoglobalt.sucursal %>
</p>

<p>
  <strong>Venta:</strong>
  <%= @menuadmrresultadoglobalt.venta %>
</p>

<p>
  <strong>Ganadores:</strong>
  <%= @menuadmrresultadoglobalt.ganadores %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @menuadmrresultadoglobalt.balance %>
</p>

<%= link_to 'Edit', edit_menuadmrresultadoglobalt_path(@menuadmrresultadoglobalt) %> |
<%= link_to 'Back', menuadmrresultadoglobalts_path %>
