<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlspleinnt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlspleinnt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlspleinnt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlspleinnt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlspleinnt.vendida %>
</p>

<%= link_to 'Edit', edit_controlspleinnt_path(@controlspleinnt) %> |
<%= link_to 'Back', controlspleinnts_path %>
