<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlpgmt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlpgmt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlpgmt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlpgmt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlpgmt.vendida %>
</p>

<%= link_to 'Edit', edit_controlpgmt_path(@controlpgmt) %> |
<%= link_to 'Back', controlpgmts_path %>
