<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controltnytt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controltnytt.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @controltnytt.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controltnytt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controltnytt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controltnytt.vendida %>
</p>

<%= link_to 'Edit', edit_controltnytt_path(@controltnytt) %> |
<%= link_to 'Back', controltnytts_path %>
