<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @aliasmodelosiglasorteot.nombre %>
</p>

<p>
  <strong>Siglasorteo:</strong>
  <%= @aliasmodelosiglasorteot.siglasorteo %>
</p>

<p>
  <strong>Modeloventaq:</strong>
  <%= @aliasmodelosiglasorteot.modeloventaq %>
</p>

<p>
  <strong>Modelocontrolq:</strong>
  <%= @aliasmodelosiglasorteot.modelocontrolq %>
</p>

<p>
  <strong>Modeloventap:</strong>
  <%= @aliasmodelosiglasorteot.modeloventap %>
</p>

<p>
  <strong>Modelocontrolp:</strong>
  <%= @aliasmodelosiglasorteot.modelocontrolp %>
</p>

<p>
  <strong>Modeloventat:</strong>
  <%= @aliasmodelosiglasorteot.modeloventat %>
</p>

<p>
  <strong>Modelocontrolt:</strong>
  <%= @aliasmodelosiglasorteot.modelocontrolt %>
</p>

<p>
  <strong>Modeloventasp:</strong>
  <%= @aliasmodelosiglasorteot.modeloventasp %>
</p>

<p>
  <strong>Modelocontrolsp:</strong>
  <%= @aliasmodelosiglasorteot.modelocontrolsp %>
</p>

<%= link_to 'Edit', edit_aliasmodelosiglasorteot_path(@aliasmodelosiglasorteot) %> |
<%= link_to 'Back', aliasmodelosiglasorteots_path %>
