<h2>Edit <%= resource_name.to_s.humanize %>/Sucursal: <%=current_user.email%></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <% if false #Ted no mostrar editar email ojo %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :tipousuariot %>
        <%= f.text_field :tipousuariot_id, autocomplete: "off"  %>
      </div>


      <div class="field">
        <%= f.label :activo %>
        <%= f.check_box :activo %>
      </div>
      

  <% end %>




<% if false #Ted no mostrar editar Consorcio para que nadie modifique eso en el frontend ojo ok ted. Only ted o via comandos en rails console, low level ok. %>
  <div class="field">
    <%= f.label :consorciot %>
    <%= f.select :consorciot_id, Consorciot.order(:nombre).collect{ |item|  [ " --> " + item.nombre , item.id ] }  %>     
  </div>

<% end %>



   <div class="field">
    <%= f.label :sucursalbt %>
    <%= f.text_field :sucursalbt, autocomplete: "off", :readonly => true  %>
  </div>

   <div class="field">
    <%= f.label :siglas %>
    <%= f.text_field :siglas, autocomplete: "off", :readonly => true  %>
  </div>



  <div class="field">
    <%=  "GPPago:" %>
    <%= f.select :gppt_id, Gppt.order(:nombre).collect{ |item|  [ "-----> " + item.nombre , item.id ] }  %>     

  </div>

</br>




 <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono, autocomplete: "off"%>
  </div>


  <div class="field">
    <%= f.label :direccion %>
    <%= f.text_field :direccion, autocomplete: "off" %>
  </div>

</br>

  </div class="field">
    <%= f.label :ciudadt %>
    <%= f.select :ciudadt_id, Ciudadt.order(:nombre).collect{ |item|  [ item.nombre , item.id ] } %>     
  </div>


  <div class="field">
    <%= f.label :provinciat %>
    <%= f.select :provinciat_id, Provinciat.order(:nombre).collect{ |item|  [ item.nombre , item.id ] } %>     
  </div>



  <div class="field">
    <%= f.label :zonat %>
    <%= f.select :zonat_id, Zonat.order(:nombre).collect{ |item|  [ item.nombre , item.id ] } %>     
  </div>


</br>

  <div class="field">
    <%= f.label :vendedor %>
    <%= f.text_field :vendedor, autocomplete: "off" %>
  </div>


  <div class="field">
    <%= f.label :contacto %>
    <%= f.text_field :contacto, autocomplete: "off" %>
  </div>



  <div class="field">
    <%= f.label :supervisort %>
    <%= f.select :supervisort_id, Supervisort.order(:nombre).collect{ |item|  [ item.nombre + " " + item.apellido , item.id ] } %>     
  </div>


  <div class="field">
    <%= f.label :colectort %>
    <%= f.select :colectort_id, Colectort.order(:nombre).collect{ |item|  [ item.nombre + " " + item.apellido , item.id ] } %>     
  </div>


  <div class="field">
    <%= f.label :sociot %>
    <%= f.select :sociot_id, Sociot.order(:nombre).collect{ |item|  [ item.nombre + " " + item.apellido , item.id ] } %>     
  </div>

</br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

</br>

  <div class="field">
    <%= f.label "Contrasena_Actual" %> <i>(Se necesita para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  
  <div class="actions">
    <%= f.submit "(Actualizar)" %>
  </div>
<% end %>
