<p id="notice"><%= notice %></p>

<h1>Controlqleits</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlqleits.each do |controlqleit| %>
      <tr>
        <td><%= controlqleit.numero %></td>
        <td><%= controlqleit.limite %></td>
        <td><%= controlqleit.vendida %></td>
        <td><%= link_to 'Show', controlqleit %></td>
        <td><%= link_to 'Edit', edit_controlqleit_path(controlqleit) %></td>
        <td><%= link_to 'Destroy', controlqleit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controlqleit', new_controlqleit_path %>
