<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @controlqleit.numero %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlqleit.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlqleit.vendida %>
</p>

<%= link_to 'Edit', edit_controlqleit_path(@controlqleit) %> |
<%= link_to 'Back', controlqleits_path %>
