<p id="notice"><%= notice %></p>

<h1>Controlpleits</h1>

<table>
  <thead>
    <tr>
      <th>N1</th>
      <th>N2</th>
      <th>Siglas</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlpleits.each do |controlpleit| %>
      <tr>
        <td><%= controlpleit.n1 %></td>
        <td><%= controlpleit.n2 %></td>
        <td><%= controlpleit.siglas %></td>
        <td><%= controlpleit.limite %></td>
        <td><%= controlpleit.vendida %></td>
        <td><%= link_to 'Show', controlpleit %></td>
        <td><%= link_to 'Edit', edit_controlpleit_path(controlpleit) %></td>
        <td><%= link_to 'Destroy', controlpleit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controlpleit', new_controlpleit_path %>
