<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlpleit.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlpleit.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlpleit.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlpleit.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlpleit.vendida %>
</p>

<%= link_to 'Edit', edit_controlpleit_path(@controlpleit) %> |
<%= link_to 'Back', controlpleits_path %>
