
<p id="notice"><%= notice %></p>

<div id="div_a_imprimir">


    <h1><u>Cuadre de ventas </u></h1>
    <h2>Desde:  <%= @dia1.to_s %> </h2>
    <h2>Hasta:  <%= @dia2.to_s %> </h2>
    <h2>Sucursal:  <%= current_user.email.split("@")[0] %> </h2>
    <h2>Total Ventas: $ <%= number_to_currency(@valor, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %>  </h2>

    <h2>Total Ganadores: $<%= number_to_currency(@ganadores_cuadre, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %> </h2>

    <h3>Tks PdtexPagar (tk): [ <%= number_to_currency(@cantidad_de_tickets_pendiente_de_pago, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %> ] </h3>
    
    <h3>[<%=@cantidad_de_tickets_vendidos.to_s%> tickets vendidos]</h3>


    <h2><u>Balance Total: $<%= number_to_currency((@valor.to_i - @ganadores_cuadre.to_i), :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %> </u> </h2>



    <h3>Consultado el: <%= Time.now.strftime("%d/%m/%Y (%H:%M:%S)") %> </h3>


    </br>


</div>






<button class="button" type="button" onclick="PrintElemConTabla('div_a_imprimir')" style="color:white;background-color:blue; height:35px;">  Imprimir </button> 
  
</div>




<script type="text/javascript">
  


  function PrintElemConTabla(elem)
  {
      var mywindow = window.open('', 'PRINT', 'height=400,width=600');
      mywindow.document.write('<html><head><title>' + document.title  + '</title>');
      mywindow.document.write('</head><body >');
    //  mywindow.document.write('<h1>' + document.title  + '</h1>');
      mywindow.document.write(document.getElementById(elem).innerHTML);
      mywindow.document.write('</body></html>');

      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/

      mywindow.print();
      mywindow.close();

      return true;
  }  


</script>






