<p id="notice"><%= notice %></p>

<p>
  <strong>Sucursal:</strong>
  <%= @menuposrventaxfechat.sucursal %>
</p>

<p>
  <strong>Desde:</strong>
  <%= @menuposrventaxfechat.desde %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @menuposrventaxfechat.hasta %>
</p>

<p>
  <strong>Venta:</strong>
  <%= @menuposrventaxfechat.venta %>
</p>

<%= link_to 'Edit', edit_menuposrventaxfechat_path(@menuposrventaxfechat) %> |
<%= link_to 'Back', menuposrventaxfechats_path %>
