<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlpnynt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlpnynt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlpnynt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlpnynt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlpnynt.vendida %>
</p>

<%= link_to 'Edit', edit_controlpnynt_path(@controlpnynt) %> |
<%= link_to 'Back', controlpnynts_path %>
