<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordtnynt.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordtnynt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @recordtnynt.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @recordtnynt.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @recordtnynt.siglas %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordtnynt.monto %>
</p>

<p>
  <strong>Seleccionada:</strong>
  <%= @recordtnynt.seleccionada %>
</p>

<%= link_to 'Edit', edit_recordtnynt_path(@recordtnynt) %> |
<%= link_to 'Back', recordtnynts_path %>
