<div class="alinear" align="left" >
  
    <h2>* GFF SPORT *</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>



      <div class="field">
        <h3 onclick="completar_dominio()"> Email  (@)</h3> 
        <%= f.email_field :email, autofocus: true %> 
      </div>

      <div class="field">
       <h3> <%= f.label :password %> </h3>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if false # ted devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

</div>

<script type="text/javascript">

  function completar_dominio(argument) {
    // body...
    //document.getElementById("user_email").
    var st = "";
    var autocompletar_dominio = "si";
    st = document.getElementById("user_email").value;
    //alert(st);
    if ( st.length > 0) {
      //verificar si ya tiene arrroba
      for (var i = 0; i < st.length; i++) {
        if (st[i] == '@' ){
          document.getElementById("user_email").value =  "";
          autocompletar_dominio = "no";

        }
      } //fin del loop for

      if (autocompletar_dominio == "si") {
        document.getElementById("user_email").value =  document.getElementById("user_email").value + "@central.com";    
      }
      
    } //  fin del st.length > 0
    
  } // fin de la funcion

  
</script>

