<p id="notice"><%= notice %></p>

<%= link_to '< atras', new_jugadalot_path %>

<h1>Menu:</h1>

<h4 style="color:darkblue;"> *VENTAS: </h4>
<h4> <%= link_to 'Venta x dia', new_menuposrventadiaactualt_path %> </h4>
<h4> <%= link_to 'Venta x rango de fecha', new_menuposrventaxfechat_path %> </h4>


<% if current_user.tipousuariot_id == 2  %>

	<h4 style="color:darkblue;"> *ADMINISTRAR: </h4>
	<h4> <%= link_to 'Sorteos -Crear/Abrir/Cerrar', sorteots_path %> </h4>
	<h4> <%= link_to 'Insertar NUMEROS GANADORES', new_ganadorest_path %> </h4>
	<h4> <%= link_to 'Generar F10 (Reporte de Jugadas activa) x Sorteo', new_menuf10t_path %> </h4>
	<h4> <%= link_to 'Reporte de Resultados Global x Fecha', new_menuadmrresultadoglobalt_path %> </h4>
	<h4> <%= link_to 'Reporte de Resultados Global x Fecha x Supervisor', new_menuadmrresultadoglobalxsupervisort_path %> </h4>
	
	</br>

	<h4 style="color:darkblue;"> *MONITOREO Y CONTROL DE QPT X SORTEO: </h4>
	
	<h4> <%= link_to 'Nacional Noche - Control Q', controlqnnts_path %> </h4>
	<h4> <%= link_to 'Nacional Noche - Control P', controlpnnts_path %> </h4>
	<h4> <%= link_to 'Nacional Noche - Control T', controltnnts_path %> </h4>
	
	<h4> <%= link_to 'Ganamas - Control Q', controlqgmts_path %> </h4>
	<h4> <%= link_to 'Ganamas - Control P', controlpgmts_path %> </h4>
	<h4> <%= link_to 'Ganamas - Control T', controltgmts_path %> </h4>
	
	<h4> <%= link_to 'Leisa - Control Q', controlqleits_path %> </h4>
	<h4> <%= link_to 'Leisa - Control P', controlpleits_path %> </h4>
	<h4> <%= link_to 'Leisa - Control T', controltleits_path %> </h4>

	<h4> <%= link_to 'Real - Control Q', controlqreats_path %> </h4>
	<h4> <%= link_to 'Real - Control P', controlpreats_path %> </h4>
	<h4> <%= link_to 'Real - Control T', controltreats_path %> </h4>

	<h4> <%= link_to 'NY Noche - Control Q', controlqnynts_path %> </h4>
	<h4> <%= link_to 'NY Noche - Control P', controlpnynts_path %> </h4>
	<h4> <%= link_to 'NY Noche - Control T', controltnynts_path %> </h4>

	<h4> <%= link_to 'NY Tarde - Control Q', controlqnytts_path %> </h4>
	<h4> <%= link_to 'NY Tarde - Control P', controlpnytts_path %> </h4>
	<h4> <%= link_to 'NY Tarde - Control T', controltnytts_path %> </h4>

	<h4> <%= link_to 'Loteka - Control Q', controlqltkts_path %> </h4>
	<h4> <%= link_to 'Loteka - Control P', controlpltkts_path %> </h4>
	<h4> <%= link_to 'Loteka - Control T', controltltkts_path %> </h4>


	</br>

	<h4 style="color:darkblue;"> *RESULTADOS: (No Disponible por ahora) </h4>
	<h4> <%= link_to 'Resultados x Sucursal', new_menuposrventadiaactualt_path %> </h4>
	<h4> <%= link_to 'Resultados x Grupo', new_menuposrventaxfechat_path %> </h4>
	<h4> <%= link_to 'Resultados Global', new_menuposrventaxfechat_path %> </h4>
	<h4> <%= link_to 'Resultados Condicional', new_menuposrventaxfechat_path %> </h4>
                             
<% end %>


</br>


<h2> *AYUDA COMANDOS: </h2>

<h3 style="color:darkblue;">Setear Sorteo:</h3>

<h4> .01 -> Loteria Nacional</h4>
<h4> .02 -> Ganamas</h4>
<h4> .03 -> Leidsa Q.</h4>
<h4> .04 -> Real Q.</h4>
<h4> .05 -> NY Noche</h4>
<h4> .06 -> NY Tarde</h4>
<h4> .07 -> Loteka</h4>


<h3 style="color:darkblue;">Otros:</h3>
<h4> /at -> Anular Ticket.</h4>
<h4> /ct -> Consultar Ticket.</h4>
<h4> /pt -> Pagar Ticket.</h4>
<h4> /g ->  Consultar ganadores de Hoy.</h4>
<h4> /g+01-01-2018 ->  Consultar ganadores x fecha.</h4>
<h4> /h ->  Consultar fecha y hora del sistema.</h4>


