<p id="notice"><%= notice %></p>


<button class="buttontk" onclick="location.href='../jugadalots/new';"><--</button>

<h1>Menu:</h1>

<h4 style="color:darkblue;"> *VENTAS: </h4>
<h4> <% link_to 'Ventas x dia', new_menuposrventadiaactualt_path %> </h4>
<h4> <%= link_to 'Cuadre de Ventas x fecha', new_menuposrventaxfechat_path %> </h4>


<% if current_user.tipousuariot_id == 2  %>
    <p></p>
	<h4 style="color:darkblue;"> *ADMINISTRACION Y REPORTES: </h4>
	<h4> <%= link_to 'Control de Lineas-Peleas y Resultados', lineats_path %> </h4>
	<h4> <%= link_to 'Reporte de Resultados Global x Fecha', new_menuadmrresultadoglobalt_path %> </h4>
	<h4> <%= link_to 'Reporte de Resultados Global x Fecha x Supervisor', new_menuadmrresultadoglobalxsupervisort_path %> </h4>
	<h4> <%= link_to 'Consultar Tickets Ganadores x Pagar', new_menuadmticketsganadoresxfechat_path %> </h4>
	<h4> <%= link_to 'Control de Trabas', trabats_path %> </h4>

    

	<% if user_signed_in? && (current_user.tipousuariot_id.to_s == "2") && ( current_user.email == "mr001@central.com") %>
		
	    <!--Mostrar esta parte solo para usuario especificado ok -->

	    <p></p>
		<h4 style="color:darkblue;"> *CONTROL DE USUARIO Y SISTEMA: </h4>

		<h4> <%= link_to "Edicion de Sucursal (Pwd, Supervisor, etc.)", manageuserbts_path %> 
   			
		</h4>

   		<h4> <%= link_to "Editar mi usuario", edit_user_registration_path %> |
   			<%= link_to "Crear Nueva Sucursal", new_user_registration_path %> 
   			
		</h4>

		<h4> <%= link_to "Activacion/Reset de computador clientes", activacionclientets_path %></h4>
		<h4> <%= link_to 'Controlar Limites de Pago (Max Win)', controldepagogts_path %> </h4>
        <h4> <%= link_to 'Control de Coliseots', coliseots_path %> </h4>

		

  	<%end%>
	


<% end %>



