<p id="notice"><%= notice %></p>

<%= link_to '< atras', new_jugadalot_path %>

<h1>Menu:</h1>

<h4> *VENTAS: </h4>
<h4> <%= link_to 'Venta x dia', new_menuposrventadiaactualt_path %> </h4>
<h4> <%= link_to 'Venta x rango de fecha', new_menuposrventaxfechat_path %> </h4>


<% if current_user.tipousuariot_id == 2  %>

	<h4> *RESULTADOS: (No Disponible por ahora) </h4>
	<h4> <%= link_to 'Resultados x Sucursal', new_menuposrventadiaactualt_path %> </h4>
	<h4> <%= link_to 'Resultados x Grupo', new_menuposrventaxfechat_path %> </h4>
	<h4> <%= link_to 'Resultados Global', new_menuposrventaxfechat_path %> </h4>
	<h4> <%= link_to 'Resultados Condicional', new_menuposrventaxfechat_path %> </h4>
                             
	<h4> *ADMINISTRAR: </h4>
	<h4> <%= link_to 'Sorteos -Crear/Abrir/Cerrar', sorteots_path %> </h4>
	<h4> <%= link_to 'Insertar NUMEROS GANADORES', new_ganadorest_path %> </h4>
	<h4> <%= link_to 'Generar F10 (Reporte de Jugadas activa) x Sorteo', new_menuf10t_path %> </h4>
	<h4> <%= link_to 'Reporte de Resultados Global x Fecha', new_menuadmrresultadoglobalt_path %> </h4>
	<h4> <%= link_to 'Reporte de Resultados Global x Fecha x Supervisor', new_menuadmrresultadoglobalxsupervisort_path %> </h4>
<% end %>



<h4> *AYUDA COMANDOS: </h4>
<h4> /at -> Anular Ticket.</h4>
<h4> /ct -> Consultar Ticket.</h4>
<h4> /pt -> Pagar Ticket.</h4>
<h4> /g ->  Consultar ganadores de Hoy.</h4>
<h4> /g+01-01-2018 ->  Consultar ganadores x fecha.</h4>
<h4> /h ->  Consultar fecha y hora del sistema.</h4>



