<p id="notice"><%= notice %></p>

<%= link_to '< atras', new_jugadalot_path %>

<h1>Menu:</h1>

<h4 style="color:darkblue;"> *VENTAS: </h4>
<h4> <%= link_to 'Ventas x dia', new_menuposrventadiaactualt_path %> </h4>
<h4> <%= link_to 'Cuadre de Ventas x fecha', new_menuposrventaxfechat_path %> </h4>


<% if current_user.tipousuariot_id == 2  %>

	<h4 style="color:darkblue;"> *ADMINISTRAR: </h4>
	<h4> <%= link_to 'Sorteos - (Abrir | Cerrar)', sorteots_path %> </h4>
	<h4> <%= link_to 'Insertar NUMEROS GANADORES', new_ganadorest_path %> </h4>
	<h4> <%= link_to 'Generar F10 (Reporte de Jugadas activa) x Sorteo', new_menuf10t_path %> </h4>
	<h4> <%= link_to 'Reporte de Resultados Global x Fecha', new_menuadmrresultadoglobalt_path %> </h4>
	<h4> <%= link_to 'Reporte de Resultados Global x Fecha x Supervisor', new_menuadmrresultadoglobalxsupervisort_path %> </h4>


	<h4> <%= link_to 'Consultar Tickets Ganadores x Pagar', new_menuadmticketsganadoresxfechat_path %> </h4>

	<% if user_signed_in? && ((session[:tipo_cliente] == "movil" || session[:tipo_cliente] == "desktop")) && (current_user.tipousuariot_id == 2) && (session[:terminal_autorizada] == true) %>
		
		<h4> <%= link_to "Edicion de Sucursal (Gpp, Supervisor, etc.)", manageuserbts_path %> 
   			
		</h4>

   		<h4> <%= link_to "Editar mi usuario", edit_user_registration_path %> |
   			<%= link_to "Crear Nueva Sucursal", new_user_registration_path %> 
   			
		</h4>

		<h4> <%= link_to "Activacion/Reset de computador clientes", activacionclientets_path %></h4>
		
		

  	<%end%>
	


	</br>

	<h4 style="color:darkblue;"> *MONITOREO Y CONTROL DE QPT X SORTEO: </h4>
	
	<h4> <%= link_to 'Nacional Noche - Control Q', controlqnnts_path %> </h4>
	<h4> <%= link_to 'Nacional Noche - Control P', controlpnnts_path %> </h4>
	<h4> <%= link_to 'Nacional Noche - Control T', controltnnts_path %> </h4>
	
	<h4> <%= link_to 'Ganamas - Control Q', controlqgmts_path %> </h4>
	<h4> <%= link_to 'Ganamas - Control P', controlpgmts_path %> </h4>
	<h4> <%= link_to 'Ganamas - Control T', controltgmts_path %> </h4>
	
	<h4> <%= link_to 'Leisa - Control Q', controlqleits_path %> </h4>
	<h4> <%= link_to 'Leisa - Control P', controlpleits_path %> </h4>
	<h4> <%= link_to 'Leisa - Control T', controltleits_path %> </h4>

	<h4> <%= link_to 'Real - Control Q', controlqreats_path %> </h4>
	<h4> <%= link_to 'Real - Control P', controlpreats_path %> </h4>
	<h4> <%= link_to 'Real - Control T', controltreats_path %> </h4>

	<h4> <%= link_to 'NY Noche - Control Q', controlqnynts_path %> </h4>
	<h4> <%= link_to 'NY Noche - Control P', controlpnynts_path %> </h4>
	<h4> <%= link_to 'NY Noche - Control T', controltnynts_path %> </h4>

	<h4> <%= link_to 'NY Tarde - Control Q', controlqnytts_path %> </h4>
	<h4> <%= link_to 'NY Tarde - Control P', controlpnytts_path %> </h4>
	<h4> <%= link_to 'NY Tarde - Control T', controltnytts_path %> </h4>

	<h4> <%= link_to 'Loteka - Control Q', controlqltkts_path %> </h4>
	<h4> <%= link_to 'Loteka - Control P', controlpltkts_path %> </h4>
	<h4> <%= link_to 'Loteka - Control T', controltltkts_path %> </h4>


	</br>

	<!-- Esta parte no necesaria todavia. ok.
		<h4 style="color:darkblue;"> *RESULTADOS: (No Disponible por ahora) </h4>
		<h4> <%= link_to 'Resultados x Sucursal', new_menuposrventadiaactualt_path %> </h4>
		<h4> <%= link_to 'Resultados x Grupo', new_menuposrventaxfechat_path %> </h4>
		<h4> <%= link_to 'Resultados Global', new_menuposrventaxfechat_path %> </h4>
		<h4> <%= link_to 'Resultados Condicional', new_menuposrventaxfechat_path %> </h4>
	-->
                             
<% end %>



</br>


<h2> *AYUDA COMANDOS: </h2>

<h3 style="color:darkblue;">Setear Sorteo:</h3>

<h4> .01 -> Loteria Nacional</h4>
<h4> .02 -> Ganamas</h4>
<h4> .03 -> Leidsa Q.</h4>
<h4> .04 -> Real Q.</h4>
<h4> .05 -> NY Noche</h4>
<h4> .06 -> NY Tarde</h4>
<h4> .07 -> Loteka</h4>


<h3 style="color:darkblue;">Otros:</h3>
<h4> /atTICKET+SERIAL-> Anular Ticket.</h4>
<h4> /ctTICKET+SERIAL-> Consultar Ticket.</h4>
<h4> /ptTICKET+SERIAL-> Pagar Ticket.</h4>
<h4> /g ->  Consultar ganadores de Hoy.</h4>
<h4> /g+01-01-2018 ->  Consultar ganadores x fecha.</h4>
<h4> /h ->  Consultar fecha y hora del sistema.</h4>


<h3 style="color:darkblue;">Como vender en 3 pasos:</h3>

<h4> 1 - Logearse al Sistema (usuario@central.com), configurar el printer y la probar impresion.</h4>

<h4> 2 - Setear o fijar el sorteo (loteria) al que desea vender, ejemplo: .01 es la Nacional Noche.</h4>

<h4> Para vender quinela, al 25 ponerle 10 pesos, digitar: 25+10 ENTER.</h4>

<h4> Para vender pale, al 25-50 ponerle 10 pesos, digitar: 2550+10 ENTER.</h4>

<h4> Para vender tripleta, al 25-50-75 ponerle 10 pesos, digitar: 255075+10 ENTER.</h4>

<h4> Si estamos en la Nacional Noche (.01) y al numero 25 queremos ponerle 10 pesos en la Ganamas, se digita de igual forma y agregamos .02 al final, indicado que lo queremos en la Ganamas, ejemplo: 25+10.02 ENTER.</h4>

<h4>Puedes cambiar de sorteo en cualquier momento, digitando: .01 ENTER (Nac.), .02 ENTER (Ganamas), Leidsa (.03), etc.</h4>

<h4> 3 - Para imprimir el ticket, digitar dos puntos seguido del monto de efectivo recibido del cliente y ENTER. Ejemplo: si el cliente paga con 100 pesos digitar comando: ..100 ENTER. Se imprime el ticket y le muestra la cantidad a devolver al cliente, si le sobra y listo.</h4>

<h4>Tambien puedes realizar multiple jugadas (modo multiple) en una sola linea de comando, separadas por asterisco (*) y no tener que digitar (modo simple) una a una las jugadas. Ejempo: puedes hacer 3 jugadas en un solo comando: 02+10.01*20+10.01*0220+10.01 ENTER. Salen 3 jugadas en la Nacional: 02+10, 20+10 y el pale 0220+10. Puedes hacer varias jugadas de varios sorteos a la vez: 02+10.01*20+10.02*0220+10.03 ENTER. Saldria asi: 02+10 Nacional, 20+10 Ganamas y el pale 0220+10 en la QLeidsa.</h4>

<h4>Tambien puedes repetir todo el grupo de jugadas ya digitadas de un sorteo a otro. Ejemplo: r01.03 ENTER repite todas las jugadas computadas de la Nacional(01) a la QLeidsa(03). Si fuera de la Ganamas a la Loteka seria: r02.07 ENTER y listo. Lo mismo para todas las demas. Lo puedes probar. Este programa es intuitivo, inteligente y facil de aprender. </h4>

<h5> Para los comandos de reportes, pago y anulacion favor consultar el Menu.</h5>



