<p id="notice"><%= notice %></p>

<h1>Ciudadts</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Provinciat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ciudadts.each do |ciudadt| %>
      <tr>
        <td><%= ciudadt.nombre %></td>
        <td><%= ciudadt.provinciat.nombre %></td>
        <td><%= link_to 'Show', ciudadt %></td>
        <td><%= link_to 'Edit', edit_ciudadt_path(ciudadt) %></td>
        <td><%= link_to 'Destroy', ciudadt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ciudadt', new_ciudadt_path %>




