<%= form_for(zonat) do |f| %>
  <% if zonat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zonat.errors.count, "error") %> prohibited this zonat from being saved:</h2>

      <ul>
      <% zonat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
