<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controltgmt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controltgmt.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @controltgmt.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controltgmt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controltgmt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controltgmt.vendida %>
</p>

<%= link_to 'Edit', edit_controltgmt_path(@controltgmt) %> |
<%= link_to 'Back', controltgmts_path %>
