<%= form_for(menuadmrresultadoglobalxsupervisort) do |f| %>
  <% if menuadmrresultadoglobalxsupervisort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menuadmrresultadoglobalxsupervisort.errors.count, "error") %> prohibited this menuadmrresultadoglobalxsupervisort from being saved:</h2>

      <ul>
      <% menuadmrresultadoglobalxsupervisort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
   <div class="field">
    <%= f.label :desde %>
    <%= f.date_select :desde, :order => [:day, :month, :year]%>
  </div>

  <div class="field">
    <%= f.label :hasta %>
    <%= f.date_select :hasta, :order => [:day, :month, :year]%>
  </div>


  <div class="field">
    <%= f.label :supervisor %>
    <%= f.select :supervisor, Supervisort.order(:nombre).collect{ |item|  [ item.nombre + " " + item.apellido , item.id ] } %>  
  </div>
 

  <div class="actions">
    <%= f.submit "Consultar" %>
  </div>

 
<% end %>
