
<p id="notice"><%= notice %></p>


<h1>Reporte de Resultados x Supervisor</h1>

<h2>Supervisor:  <%= @supervisor %> </h2>
<h2>Desde:  <%= @dia1.to_s %> </h2>
<h2>Hasta:  <%= @dia2.to_s %> </h2>

<table>
  <thead>
    <tr>
     
      <th>Sucursal</th>
      <th>Venta</th>
      <th>Ganadores</th>
      <th>PendxPagar</th>
      <th>Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menuadmrresultadoglobalxsupervisorts.each do |menuadmrresultadoglobalxsupervisort| %>
      <tr>
       
        <td><%=menuadmrresultadoglobalxsupervisort.sucursal %></td>
        
        <td><%=number_to_currency(menuadmrresultadoglobalxsupervisort.venta, :unit => "$", :delimiter => ",", :precision => 0, :separator => ".") %></td>
        
        <td><%= number_to_currency(menuadmrresultadoglobalxsupervisort.ganadores, :unit => "$", :delimiter => ",", :precision => 0, :separator => ".") %></td>

        <td><%= number_to_currency(menuadmrresultadoglobalxsupervisort.pendientexpagar, :unit => "$", :delimiter => ",", :precision => 0, :separator => ".") %></td>

        <td><%= number_to_currency(menuadmrresultadoglobalxsupervisort.balance, :unit => "$", :delimiter => ",", :precision => 0, :separator => ".") %></td>
       
      </tr>
    <% end %>

     <tr> 
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
       </tr>

       <tr> 
          <td><b><%=@total_sucursales%>S T-></td>
          <td><b><%= number_to_currency(@total_ventas, :unit => "$", :delimiter => ",", :precision => 0, :separator => ".") %></td>
          <td><b><%= number_to_currency(@total_ganadores, :unit => "$", :delimiter => ",", :precision => 0, :separator => ".") %></td>

          <td><b><%= number_to_currency(@total_pendientexpagar, :unit => "$", :delimiter => ",", :precision => 0, :separator => ".") %></td>

          <td><b><%= number_to_currency(@total_balance, :unit => "$", :delimiter => ",", :precision => 0, :separator => ".") %></td>

       </tr>

  </tbody>
</table>

<br>

<%= link_to 'Nueva Consulta', new_menuadmrresultadoglobalxsupervisort_path %>
<br>
<%= link_to 'Menu', menuts_path %>

