<p id="notice"><%= notice %></p>

<p>
  <strong>Desde:</strong>
  <%= @menuadmrresultadoglobalxsupervisort.desde %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @menuadmrresultadoglobalxsupervisort.hasta %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @menuadmrresultadoglobalxsupervisort.supervisor %>
</p>

<p>
  <strong>Venta:</strong>
  <%= @menuadmrresultadoglobalxsupervisort.venta %>
</p>

<p>
  <strong>Ganadores:</strong>
  <%= @menuadmrresultadoglobalxsupervisort.ganadores %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @menuadmrresultadoglobalxsupervisort.balance %>
</p>

<%= link_to 'Edit', edit_menuadmrresultadoglobalxsupervisort_path(@menuadmrresultadoglobalxsupervisort) %> |
<%= link_to 'Back', menuadmrresultadoglobalxsupervisorts_path %>
