<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlpnnt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlpnnt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlpnnt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlpnnt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlpnnt.vendida %>
</p>

<%= link_to 'Edit', edit_controlpnnt_path(@controlpnnt) %> |
<%= link_to 'Back', controlpnnts_path %>
