<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @gppt.nombre %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @gppt.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @gppt.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @gppt.q3 %>
</p>

<p>
  <strong>P12:</strong>
  <%= @gppt.p12 %>
</p>

<p>
  <strong>P13:</strong>
  <%= @gppt.p13 %>
</p>

<p>
  <strong>P23:</strong>
  <%= @gppt.p23 %>
</p>

<p>
  <strong>Sp:</strong>
  <%= @gppt.sp %>
</p>

<p>
  <strong>T123:</strong>
  <%= @gppt.t123 %>
</p>

<p>
  <strong>T13:</strong>
  <%= @gppt.t13 %>
</p>

<p>
  <strong>T23:</strong>
  <%= @gppt.t23 %>
</p>

<%= link_to 'Edit', edit_gppt_path(@gppt) %> |
<%= link_to 'Back', gppts_path %>
