<p id="notice"><%= notice %></p>

<h1>Recordqleits</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>N1</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordqleits.each do |recordqleit| %>
      <tr>
        <td><%= recordqleit.ticket %></td>
        <td><%= recordqleit.n1 %></td>
        <td><%= recordqleit.monto %></td>
        <td><%= link_to 'Show', recordqleit %></td>
        <td><%= link_to 'Edit', edit_recordqleit_path(recordqleit) %></td>
        <td><%= link_to 'Destroy', recordqleit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recordqleit', new_recordqleit_path %>
