<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordqleit.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordqleit.n1 %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordqleit.monto %>
</p>

<%= link_to 'Edit', edit_recordqleit_path(@recordqleit) %> |
<%= link_to 'Back', recordqleits_path %>
