
<% if  @tipo_cliente == "desktop" %>

<!-- 
  <h3 id="banca" style="color:darkblue;"> SUCURSAL: (( <%= current_user.siglas%> ))</h3>
-->

<div id="seteo_div_width" style="width: 100%">
  
.
  <%= render 'botonera'  %>
  <% render 'reloj'  %>




  <%= render 'form1', jugadalot: @jugadalot %>


  <div id="jugadas">

    <%if @jugadalots.size > 0 %>
        <%if @jugadalots.all.count > 0 %>
          <% mensaje =  "(" + @jugadalots.all.count.to_s + ") " + notice.to_s %>
        <%else%>
          <% mensaje =  notice %>
        <%end%>

      	<h4 style="text-align: left;" id="notice"><%= mensaje %></h4>
    
    <%else%>
    
        <% mensaje =  notice.to_s %>
        <h4 style="text-align: left;" id="notice"><%= mensaje %></h4>
    
    <%end%>


  <% unless true # no quiero nada de esto por ahora ok true mandatorio ted ok. @total == 0 %>  
      <h2>Total apostado: $ <%= number_to_currency(@total, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %></h2> <!-- sacado de apidock.com number_to_currency example ok ted. -->
      <% end %>

      <% unless @efectivo_recibido == nil || true  %>  <!--no mostrar por ahora ok -->
      <h2>DEVUELTA: $ <%= number_to_currency((@efectivo_recibido - session[:total_tk_viejo].to_i), :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %></h2>
      <h2>Recibido: $ <%= number_to_currency(@efectivo_recibido , :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %></h2>
      <h2>Total: $ <%= number_to_currency(session[:total_tk_viejo], :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %></h2>
  <% end %>



  <table>
    <thead>
      <tr>
        <th>Pelea</th>
        <th>A</th>
        <th>A vs B</th>
        <th>Apuesta</th>
        <th>ML</th>
         <th></th>
        
      </tr>
    </thead>

    <tbody>      
      <% @jugadalots.reverse_each do |jugadat| %>
  		<% if jugadat.n1 == nil  %>
  		<% @n1 = "*" %>
  		<% elsif jugadat.n1.to_i < 10  %>
  		<% @n1 = "0" + jugadat.n1.to_s %>
  		<% else %>
  		<% @n1 = jugadat.n1.to_s %>
  		<% end %>

  		<% if jugadat.n2 == nil  %>
  		<% @n2 = "*" %>
  		<% elsif jugadat.n2.to_i < 10  %>
  		<% @n2 = "0" + jugadat.n2.to_s %>
  		<% else %>
  		<% @n2 = jugadat.n2.to_s %>
  		<% end %>

  		<% if jugadat.n3 == nil  %>
  		<% @n3 = "*" %>
  		<% elsif jugadat.n3.to_i < 10  %>
  		<% @n3 = "0" + jugadat.n3.to_s %>
  		<% else %>
  		<% @n3 = jugadat.n3.to_s %>
  		<% end %>

        <tr>
          <td style="color: darkblue"><b> <%= jugadat.pelea.to_i  %></td>
          <td style="text-align: center;"><b><%= jugadat.apuestacinta %></td>
          
          <% @linea_pelea =  Lineat.today.where(:pelea => jugadat.pelea.to_i).first || nil %>
<%if @linea_pelea != nil %>
  <td><%= @linea_pelea.azul %>(<%=@linea_pelea.mla%>) vs <%=@linea_pelea.blanco%>(<%=@linea_pelea.mlb%>) </td>
<%else%>
  <td> A vs B </td>
<%end%>
          

          <%if ( ( (jugadat.apuestacinta == "-" )|| (jugadat.apuestacinta == "+")) && (@linea_pelea != nil) ) %>
             <td style="text-align: center;"><%= jugadat.apuestacinta %><%=@linea_pelea.tiempoml%></td>
          <%else%>
              <td style="text-align: center;"><%= jugadat.apuestacinta %></td>
          <%end%>

          

          <td><%= jugadat.ml %></td>
          <td><%= link_to 'x', jugadat, method: :delete%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%end%>







<!-- Si no es dektop ni movil o no se ha enviado los params cliente_id y tipo_cliente mostraremoes esta vista -->


<% if  (@tipo_cliente != "desktop") && (@tipo_cliente != "movil") %>

    <h2> Bienvenido, favor presione el <b> BOTON ROJO (APP) o cerrar y abrir la aplicacion nuevamente (Desktop)</b> para iniciar el sistema correctamente o contacte la Central para asistencia. Gracias.</h2>

<% end %>





</div>



