<p id="notice"><%= notice %></p>

<h1>Controlqnnts</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% @totalqdisponible = @totalqvendida = 0 %>
  <tbody>
    <% @controlqnnts.each do |controlqnnt| %>
      <tr>
        <td><%= controlqnnt.numero %></td>
        <td><%= controlqnnt.limite %></td>
        <td><%= controlqnnt.vendida %></td>
        <td><%= link_to 'Show', controlqnnt %></td>
        <td><%= link_to 'Edit', edit_controlqnnt_path(controlqnnt) %></td>
        <td><%= link_to 'Destroy', controlqnnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% @totalqdisponible += controlqnnt.limite  %>
        <% @totalqvendida += controlqnnt.vendida  %>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Total Disponible Global: <%= number_to_currency(@totalqdisponible, :unit => "", :delimiter => ",", :precision => 0, :separator => ".")  %></h3>

<h3>Total Vendida: <%= number_to_currency(@totalqvendida, :unit => "", :delimiter => ",", :precision => 0, :separator => ".")  %> </h3>

<br>

<%= link_to 'New Controlqnnt', new_controlqnnt_path %>
 