<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @controlqnnt.numero %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlqnnt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlqnnt.vendida %>
</p>

<%= link_to 'Edit', edit_controlqnnt_path(@controlqnnt) %> |
<%= link_to 'Back', controlqnnts_path %>
