<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlpreat.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlpreat.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlpreat.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlpreat.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlpreat.vendida %>
</p>

<%= link_to 'Edit', edit_controlpreat_path(@controlpreat) %> |
<%= link_to 'Back', controlpreats_path %>
