<p id="notice"><%= notice %></p>

<h1>Recordpgmts</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>N1</th>
      <th>N2</th>
      <th>Siglas</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordpgmts.each do |recordpgmt| %>
      <tr>
        <td><%= recordpgmt.ticket %></td>
        <td><%= recordpgmt.n1 %></td>
        <td><%= recordpgmt.n2 %></td>
        <td><%= recordpgmt.siglas %></td>
        <td><%= recordpgmt.monto %></td>
        <td><%= link_to 'Show', recordpgmt %></td>
        <td><%= link_to 'Edit', edit_recordpgmt_path(recordpgmt) %></td>
        <td><%= link_to 'Destroy', recordpgmt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recordpgmt', new_recordpgmt_path %>
