<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordtreat.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordtreat.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @recordtreat.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @recordtreat.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @recordtreat.siglas %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordtreat.monto %>
</p>

<p>
  <strong>Seleccionada:</strong>
  <%= @recordtreat.seleccionada %>
</p>

<%= link_to 'Edit', edit_recordtreat_path(@recordtreat) %> |
<%= link_to 'Back', recordtreats_path %>
