<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @menuf10t.fecha %>
</p>

<p>
  <strong>Sorteot:</strong>
  <%= @menuf10t.sorteot %>
</p>

<%= link_to 'Edit', edit_menuf10t_path(@menuf10t) %> |
<%= link_to 'Back', menuf10ts_path %>
