<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlpnytt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlpnytt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlpnytt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlpnytt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlpnytt.vendida %>
</p>

<%= link_to 'Edit', edit_controlpnytt_path(@controlpnytt) %> |
<%= link_to 'Back', controlpnytts_path %>
