<p id="notice"><%= notice %></p>

<h1>Controlqgmts</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlqgmts.each do |controlqgmt| %>
      <tr>
        <td><%= controlqgmt.numero %></td>
        <td><%= controlqgmt.limite %></td>
        <td><%= controlqgmt.vendida %></td>
        <td><%= link_to 'Show', controlqgmt %></td>
        <td><%= link_to 'Edit', edit_controlqgmt_path(controlqgmt) %></td>
        <td><%= link_to 'Destroy', controlqgmt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controlqgmt', new_controlqgmt_path %>
