<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @horariosorteot.nombre %>
</p>

<p>
  <strong>Lunes:</strong>
  <%= @horariosorteot.lunes %>
</p>

<p>
  <strong>Martes:</strong>
  <%= @horariosorteot.martes %>
</p>

<p>
  <strong>Miercoles:</strong>
  <%= @horariosorteot.miercoles %>
</p>

<p>
  <strong>Jueves:</strong>
  <%= @horariosorteot.jueves %>
</p>

<p>
  <strong>Viernes:</strong>
  <%= @horariosorteot.viernes %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @horariosorteot.sabado %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @horariosorteot.domingo %>
</p>

<%= link_to 'Edit', edit_horariosorteot_path(@horariosorteot) %> |
<%= link_to 'Back', horariosorteots_path %>
