<p id="notice"><%= notice %></p>

<h1>Controltleits</h1>

<table>
  <thead>
    <tr>
      <th>N1</th>
      <th>N2</th>
      <th>N3</th>
      <th>Siglas</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controltleits.each do |controltleit| %>
      <tr>
        <td><%= controltleit.n1 %></td>
        <td><%= controltleit.n2 %></td>
        <td><%= controltleit.n3 %></td>
        <td><%= controltleit.siglas %></td>
        <td><%= controltleit.limite %></td>
        <td><%= controltleit.vendida %></td>
        <td><%= link_to 'Show', controltleit %></td>
        <td><%= link_to 'Edit', edit_controltleit_path(controltleit) %></td>
        <td><%= link_to 'Destroy', controltleit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controltleit', new_controltleit_path %>
