<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controltleit.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controltleit.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @controltleit.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controltleit.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controltleit.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controltleit.vendida %>
</p>

<%= link_to 'Edit', edit_controltleit_path(@controltleit) %> |
<%= link_to 'Back', controltleits_path %>
