<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Ticket#</th>
      <th>Serial</th>
      <th>User</th>
      <th>Fechaimpresion</th>
      <th>Activo</th>
      <th>Ganador</th>
      <th>Pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.serial %></td>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.fechaimpresion %></td>
        <td><%= ticket.activo %></td>
        <td><%= ticket.ganador %></td>
        <td><%= ticket.pago %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
