<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @tipousuariot.tipo_usuario %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipousuariot.descripcion %>
</p>

<%= link_to 'Edit', edit_tipousuariot_path(@tipousuariot) %> |
<%= link_to 'Back', tipousuariots_path %>
