<p id="notice"><%= notice %></p>

<p>
  <strong>Tipojugada:</strong>
  <%= @controldepagogt.tipojugada %>
</p>

<p>
  <strong>Limitexticket:</strong>
  <%= @controldepagogt.limitexticket %>
</p>

<p>
  <strong>Limiteglobal:</strong>
  <%= @controldepagogt.limiteglobal %>
</p>

<%= link_to 'Edit', edit_controldepagogt_path(@controldepagogt) %> |
<%= link_to 'Back', controldepagogts_path %>
