<p id="notice"><%= notice %></p>

<h1>Controlqnynts</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlqnynts.each do |controlqnynt| %>
      <tr>
        <td><%= controlqnynt.numero %></td>
        <td><%= controlqnynt.limite %></td>
        <td><%= controlqnynt.vendida %></td>
        <td><%= link_to 'Show', controlqnynt %></td>
        <td><%= link_to 'Edit', edit_controlqnynt_path(controlqnynt) %></td>
        <td><%= link_to 'Destroy', controlqnynt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controlqnynt', new_controlqnynt_path %>
