<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @controlqnynt.numero %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlqnynt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlqnynt.vendida %>
</p>

<%= link_to 'Edit', edit_controlqnynt_path(@controlqnynt) %> |
<%= link_to 'Back', controlqnynts_path %>
