<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordqreat.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordqreat.n1 %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordqreat.monto %>
</p>

<%= link_to 'Edit', edit_recordqreat_path(@recordqreat) %> |
<%= link_to 'Back', recordqreats_path %>
