<p id="notice"><%= notice %></p>

<h1>Recordqltkts</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>N1</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordqltkts.each do |recordqltkt| %>
      <tr>
        <td><%= recordqltkt.ticket %></td>
        <td><%= recordqltkt.n1 %></td>
        <td><%= recordqltkt.monto %></td>
        <td><%= link_to 'Show', recordqltkt %></td>
        <td><%= link_to 'Edit', edit_recordqltkt_path(recordqltkt) %></td>
        <td><%= link_to 'Destroy', recordqltkt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recordqltkt', new_recordqltkt_path %>
