<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlspreannt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlspreannt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlspreannt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlspreannt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlspreannt.vendida %>
</p>

<%= link_to 'Edit', edit_controlspreannt_path(@controlspreannt) %> |
<%= link_to 'Back', controlspreannts_path %>
