<p id="notice"><%= notice %></p>

<p>
  <strong>Coliseo:</strong>
  <%= @lineatprint.coliseo %>
</p>

<p>
  <strong>Bloque:</strong>
  <%= @lineatprint.bloque %>
</p>

<p>
  <strong>Pelea:</strong>
  <%= @lineatprint.pelea %>
</p>

<p>
  <strong>Azul:</strong>
  <%= @lineatprint.azul %>
</p>

<p>
  <strong>Mla:</strong>
  <%= @lineatprint.mla %>
</p>

<p>
  <strong>Blanco:</strong>
  <%= @lineatprint.blanco %>
</p>

<p>
  <strong>Mlb:</strong>
  <%= @lineatprint.mlb %>
</p>

<p>
  <strong>Time:</strong>
  <%= @lineatprint.time %>
</p>

<p>
  <strong>Under:</strong>
  <%= @lineatprint.under %>
</p>

<p>
  <strong>Over:</strong>
  <%= @lineatprint.over %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lineatprint.status %>
</p>

<p>
  <strong>Ganador:</strong>
  <%= @lineatprint.ganador %>
</p>

<p>
  <strong>Tfinal:</strong>
  <%= @lineatprint.tfinal %>
</p>

<%= link_to 'Edit', edit_lineatprint_path(@lineatprint) %> |
<%= link_to 'Back', lineatprints_path %>
