<%= form_for(recordpnynt) do |f| %>
  <% if recordpnynt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recordpnynt.errors.count, "error") %> prohibited this recordpnynt from being saved:</h2>

      <ul>
      <% recordpnynt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_id %>
    <%= f.text_field :ticket_id %>
  </div>

  <div class="field">
    <%= f.label :n1 %>
    <%= f.number_field :n1 %>
  </div>

  <div class="field">
    <%= f.label :n2 %>
    <%= f.number_field :n2 %>
  </div>

  <div class="field">
    <%= f.label :siglas %>
    <%= f.text_field :siglas %>
  </div>

  <div class="field">
    <%= f.label :monto %>
    <%= f.number_field :monto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
