<p id="notice"><%= notice %></p>

<h1>Controlspnnts</h1>

<table>
  <thead>
    <tr>
      <th>N1</th>
      <th>N2</th>
      <th>Siglas</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlspnnts.each do |controlspnnt| %>
      <tr>
        <td><%= controlspnnt.n1 %></td>
        <td><%= controlspnnt.n2 %></td>
        <td><%= controlspnnt.siglas %></td>
        <td><%= controlspnnt.limite %></td>
        <td><%= controlspnnt.vendida %></td>
        <td><%= link_to 'Show', controlspnnt %></td>
        <td><%= link_to 'Edit', edit_controlspnnt_path(controlspnnt) %></td>
        <td><%= link_to 'Destroy', controlspnnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controlspnnt', new_controlspnnt_path %>
