<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlspnnt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlspnnt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlspnnt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlspnnt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlspnnt.vendida %>
</p>

<%= link_to 'Edit', edit_controlspnnt_path(@controlspnnt) %> |
<%= link_to 'Back', controlspnnts_path %>
