<p id="notice"><%= notice %></p>

<h1>Recordspltknnts</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>N1</th>
      <th>N2</th>
      <th>Siglas</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordspltknnts.each do |recordspltknnt| %>
      <tr>
        <td><%= recordspltknnt.ticket %></td>
        <td><%= recordspltknnt.n1 %></td>
        <td><%= recordspltknnt.n2 %></td>
        <td><%= recordspltknnt.siglas %></td>
        <td><%= recordspltknnt.monto %></td>
        <td><%= link_to 'Show', recordspltknnt %></td>
        <td><%= link_to 'Edit', edit_recordspltknnt_path(recordspltknnt) %></td>
        <td><%= link_to 'Destroy', recordspltknnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recordspltknnt', new_recordspltknnt_path %>
