<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordspltknnt.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordspltknnt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @recordspltknnt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @recordspltknnt.siglas %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordspltknnt.monto %>
</p>

<%= link_to 'Edit', edit_recordspltknnt_path(@recordspltknnt) %> |
<%= link_to 'Back', recordspltknnts_path %>
