<p id="notice"><%= notice %></p>

<h1>Recordtnnts</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>N1</th>
      <th>N2</th>
      <th>N3</th>
      <th>Siglas</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordtnnts.each do |recordtnnt| %>
      <tr>
        <td><%= recordtnnt.ticket %></td>
        <td><%= recordtnnt.n1 %></td>
        <td><%= recordtnnt.n2 %></td>
        <td><%= recordtnnt.n3 %></td>
        <td><%= recordtnnt.siglas %></td>
        <td><%= recordtnnt.monto %></td>
        <td><%= link_to 'Show', recordtnnt %></td>
        <td><%= link_to 'Edit', edit_recordtnnt_path(recordtnnt) %></td>
        <td><%= link_to 'Destroy', recordtnnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recordtnnt', new_recordtnnt_path %>
