<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordtnnt.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordtnnt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @recordtnnt.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @recordtnnt.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @recordtnnt.siglas %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordtnnt.monto %>
</p>

<%= link_to 'Edit', edit_recordtnnt_path(@recordtnnt) %> |
<%= link_to 'Back', recordtnnts_path %>
