<p id="notice"><%= notice %></p>

<h1>Controltltkts</h1>

<table>
  <thead>
    <tr>
      <th>N1</th>
      <th>N2</th>
      <th>N3</th>
      <th>Siglas</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controltltkts.each do |controltltkt| %>
      <tr>
        <td><%= controltltkt.n1 %></td>
        <td><%= controltltkt.n2 %></td>
        <td><%= controltltkt.n3 %></td>
        <td><%= controltltkt.siglas %></td>
        <td><%= controltltkt.limite %></td>
        <td><%= controltltkt.vendida %></td>
        <td><%= link_to 'Show', controltltkt %></td>
        <td><%= link_to 'Edit', edit_controltltkt_path(controltltkt) %></td>
        <td><%= link_to 'Destroy', controltltkt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controltltkt', new_controltltkt_path %>
