<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controltltkt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controltltkt.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @controltltkt.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controltltkt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controltltkt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controltltkt.vendida %>
</p>

<%= link_to 'Edit', edit_controltltkt_path(@controltltkt) %> |
<%= link_to 'Back', controltltkts_path %>
