<p id="notice"><%= notice %></p>

<p>
  <strong>Simbolo:</strong>
  <%= @monedat.simbolo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @monedat.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @monedat.descripcion %>
</p>

<p>
  <strong>Paist:</strong>
  <%= @monedat.paist.nombre %>
</p>

<%= link_to 'Edit', edit_monedat_path(@monedat) %> |
<%= link_to 'Back', monedats_path %>
