<p id="notice"><%= notice %></p>

<h1>Recordspnnts</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>N1</th>
      <th>N2</th>
      <th>Siglas</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordspnnts.each do |recordspnnt| %>
      <tr>
        <td><%= recordspnnt.ticket %></td>
        <td><%= recordspnnt.n1 %></td>
        <td><%= recordspnnt.n2 %></td>
        <td><%= recordspnnt.siglas %></td>
        <td><%= recordspnnt.monto %></td>
        <td><%= link_to 'Show', recordspnnt %></td>
        <td><%= link_to 'Edit', edit_recordspnnt_path(recordspnnt) %></td>
        <td><%= link_to 'Destroy', recordspnnt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recordspnnt', new_recordspnnt_path %>
