<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordspreannt.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordspreannt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @recordspreannt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @recordspreannt.siglas %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordspreannt.monto %>
</p>

<%= link_to 'Edit', edit_recordspreannt_path(@recordspreannt) %> |
<%= link_to 'Back', recordspreannts_path %>
