<p id="notice"><%= notice %></p>

<h1>Controltnynts</h1>

<table>
  <thead>
    <tr>
      <th>N1</th>
      <th>N2</th>
      <th>N3</th>
      <th>Siglas</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controltnynts.each do |controltnynt| %>
      <tr>
        <td><%= controltnynt.n1 %></td>
        <td><%= controltnynt.n2 %></td>
        <td><%= controltnynt.n3 %></td>
        <td><%= controltnynt.siglas %></td>
        <td><%= controltnynt.limite %></td>
        <td><%= controltnynt.vendida %></td>
        <td><%= link_to 'Show', controltnynt %></td>
        <td><%= link_to 'Edit', edit_controltnynt_path(controltnynt) %></td>
        <td><%= link_to 'Destroy', controltnynt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controltnynt', new_controltnynt_path %>
