<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controltnynt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controltnynt.n2 %>
</p>

<p>
  <strong>N3:</strong>
  <%= @controltnynt.n3 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controltnynt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controltnynt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controltnynt.vendida %>
</p>

<%= link_to 'Edit', edit_controltnynt_path(@controltnynt) %> |
<%= link_to 'Back', controltnynts_path %>
