<p id="notice"><%= notice %></p>

<h1>Direccionts</h1>

<table>
  <thead>
    <tr>
      <th>Direccion</th>
      <th>Sector</th>
      <th>Cuidadt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @direccionts.each do |direcciont| %>
      <tr>
        <td><%= direcciont.direccion %></td>
        <td><%= direcciont.sector %></td>
        <td><%= direcciont.cuidadt %></td>
        <td><%= link_to 'Show', direcciont %></td>
        <td><%= link_to 'Edit', edit_direcciont_path(direcciont) %></td>
        <td><%= link_to 'Destroy', direcciont, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direcciont', new_direcciont_path %>
