<p id="notice"><%= notice %></p>

<p>
  <strong>Direccion:</strong>
  <%= @direcciont.direccion %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @direcciont.sector %>
</p>

<p>
  <strong>Cuidadt:</strong>
  <%= @direcciont.cuidadt %>
</p>

<%= link_to 'Edit', edit_direcciont_path(@direcciont) %> |
<%= link_to 'Back', direccionts_path %>
