<%= form_for(menuposrventadiaactualt) do |f| %>
  <% if menuposrventadiaactualt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menuposrventadiaactualt.errors.count, "error") %> prohibited this menuposrventadiaactualt from being saved:</h2>

      <ul>
      <% menuposrventadiaactualt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 

  <div class="field">
    <%= f.label :fecha %>
    <%= f.date_select :fecha, :order => [:day, :month, :year]%>
  </div>

  
  <div class="actions">
    <%= f.submit "Consultar" %>
  </div>

<% end %>
