<p id="notice"><%= notice %></p>

<h1>Reporte de venta</h1>
<h2>Dia:  <%= @dia.to_s %> </h2>
<h2>Sucursal:  <%= current_user.email.split("@")[0] %> </h2>

<h2 style="color:blue;">Venta Total: $ <%= number_to_currency(@valor, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %> </h2>
<h3>Consultado el: <%= Time.now.strftime("%d/%m/%Y (%H:%M:%S)") %> </h3>


