<p id="notice"><%= notice %></p>
<h1>Reporte de Tickets Ganadores x Pagar</h1>
<h2>Desde: (<%= @dia1.to_s %>) Hasta: (<%= @dia2.to_s %>) </h2>



<table>
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>Ticket</th>
      <th>FechaProcesado</th>
      <th>Jugada</th>
      <th>Sorteo</th>
      <th>FechaSorteo</th>
      <th>Montoapostado</th>
      <th>Montoacobrar</th>
      <th>Grupoprocesado</th>
      <th>Realizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticketsganadorestsxfechat.each do |ticketsganadorest| %>
      <tr>
        <td><b><%= ticketsganadorest.sucursal %></td>
        <td><%= ticketsganadorest.ticket.id %></td>        
        <td><%= ticketsganadorest.ticket.updated_at.to_date %></td>
        <td><%= ticketsganadorest.jugada %></td>
        <td><%= ticketsganadorest.sorteo %></td>
        <td><%= ticketsganadorest.fechasorteo %></td>
        <td>$<%=ticketsganadorest.montoapostado %></td>
        <td><b>$<%=ticketsganadorest.montoacobrar %></td>
        <td><%= ticketsganadorest.grupoprocesado %></td>

        <%if ( ticketsganadorest.ticket.latitud && ticketsganadorest.ticket.longitud ) %>
        <td><%= link_to 'Location', "https://maps.google.com/?q=#{ticketsganadorest.ticket.latitud},#{ticketsganadorest.ticket.longitud}"%> </td>
        <%else%>
          <td>---</td>
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

 
<% @array_id_tks_jugadas = [] %>

<% @ticketsganadorestsxfechat.each do |ticketsganadorest| %>
  <% @array_id_tks_jugadas << ticketsganadorest.ticket_id%>
  <% @array_id_tks_jugadas.uniq!%>
<%end%>



<% @suma_ticket_ganadores = 0%>

<% @ticketsganadorestsxfechat.each do |ticketsganadorest| %>
  <% @suma_ticket_ganadores += ticketsganadorest.montoacobrar.to_i%>
<%end%>


<h2>Total Tickets: <%= ActionController::Base.helpers.number_to_currency(@array_id_tks_jugadas.size.to_s, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %> </h2>
<h2>Total Monto:  $ <%= ActionController::Base.helpers.number_to_currency(@suma_ticket_ganadores.to_s, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %> </h2>

<h3>Consultado el: <%= Time.now.strftime("%d/%m/%Y (%H:%M:%S)") %> </h3>

<%= link_to 'Menu', menuts_path %>
