<p id="notice"><%= notice %></p>
<h1>Reporte de Tickets Ganadores x Pagar.</h1>
<h2>Desde: (<%= @dia1.to_s %>) Hasta: (<%= @dia2.to_s %>) </h2>



<table>
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>Ticket</th>
      <th>Parlay</th>
       <th>Apostado</th>
      <th>Acobrar</th>
    </tr>
  </thead>

  <tbody>
    <% @ticketsganadorestsxfechat.each do |ticketsganadorest| %>
      <tr>
        <td><b><%= ticketsganadorest.user.sucursalbt %></td>
        <td>[ <%=ticketsganadorest.id%> ]</td>        
        <td><%=ticketsganadorest.parlay.to_s.upcase %></td>
        
        <td>$<%= Jugadalot.where(:ticket => ticketsganadorest.id).last.monto %></td>
        
        <td><b>$<%=ticketsganadorest.pagoreal %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

 
<% @array_id_tks_jugadas = [] %>

<% @ticketsganadorestsxfechat.each do |ticketsganadorest| %>
  <% @array_id_tks_jugadas << ticketsganadorest.id%>
  <% @array_id_tks_jugadas.uniq!%>
<%end%>



<% @suma_ticket_ganadores = 0%>

<% @ticketsganadorestsxfechat.each do |ticketsganadorest| %>
  <% @suma_ticket_ganadores += ticketsganadorest.pagoreal.to_i%>
<%end%>


<h2>Total Tickets: <%= ActionController::Base.helpers.number_to_currency(@array_id_tks_jugadas.size.to_s, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %> </h2>
<h2>Total Monto:  $ <%= ActionController::Base.helpers.number_to_currency(@suma_ticket_ganadores.to_s, :unit => "", :delimiter => ",", :precision => 0, :separator => ".") %> </h2>

<h3>Consultado el: <%= Time.now.strftime("%d/%m/%Y (%H:%M:%S)") %> </h3>

<%= link_to 'Menu', menuts_path %>
