<p id="notice"><%= notice %></p>

<p>
  <strong>Sucursal:</strong>
  <%= @menuadmticketsganadoresxfechat.sucursal %>
</p>

<p>
  <strong>Desde:</strong>
  <%= @menuadmticketsganadoresxfechat.desde %>
</p>

<p>
  <strong>Hasta:</strong>
  <%= @menuadmticketsganadoresxfechat.hasta %>
</p>

<%= link_to 'Edit', edit_menuadmticketsganadoresxfechat_path(@menuadmticketsganadoresxfechat) %> |
<%= link_to 'Back', menuadmticketsganadoresxfechats_path %>
