<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @ticketsganadorest.ticket %>
</p>

<p>
  <strong>Jugada:</strong>
  <%= @ticketsganadorest.jugada %>
</p>

<p>
  <strong>Montoapostado:</strong>
  <%= @ticketsganadorest.montoapostado %>
</p>

<p>
  <strong>Montoacobrar:</strong>
  <%= @ticketsganadorest.montoacobrar %>
</p>

<%= link_to 'Edit', edit_ticketsganadorest_path(@ticketsganadorest) %> |
<%= link_to 'Back', ticketsganadorests_path %>
