<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlpltkt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlpltkt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlpltkt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlpltkt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlpltkt.vendida %>
</p>

<%= link_to 'Edit', edit_controlpltkt_path(@controlpltkt) %> |
<%= link_to 'Back', controlpltkts_path %>
