<p id="notice"><%= notice %></p>

<p>
  <strong>N1:</strong>
  <%= @controlspltknnt.n1 %>
</p>

<p>
  <strong>N2:</strong>
  <%= @controlspltknnt.n2 %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @controlspltknnt.siglas %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlspltknnt.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlspltknnt.vendida %>
</p>

<%= link_to 'Edit', edit_controlspltknnt_path(@controlspltknnt) %> |
<%= link_to 'Back', controlspltknnts_path %>
