<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @recordqnynt.ticket %>
</p>

<p>
  <strong>N1:</strong>
  <%= @recordqnynt.n1 %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @recordqnynt.monto %>
</p>

<%= link_to 'Edit', edit_recordqnynt_path(@recordqnynt) %> |
<%= link_to 'Back', recordqnynts_path %>
