<p id="notice"><%= notice %></p>

<h1>Controlqreats</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Limite</th>
      <th>Vendida</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controlqreats.each do |controlqreat| %>
      <tr>
        <td><%= controlqreat.numero %></td>
        <td><%= controlqreat.limite %></td>
        <td><%= controlqreat.vendida %></td>
        <td><%= link_to 'Show', controlqreat %></td>
        <td><%= link_to 'Edit', edit_controlqreat_path(controlqreat) %></td>
        <td><%= link_to 'Destroy', controlqreat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controlqreat', new_controlqreat_path %>
