<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @controlqreat.numero %>
</p>

<p>
  <strong>Limite:</strong>
  <%= @controlqreat.limite %>
</p>

<p>
  <strong>Vendida:</strong>
  <%= @controlqreat.vendida %>
</p>

<%= link_to 'Edit', edit_controlqreat_path(@controlqreat) %> |
<%= link_to 'Back', controlqreats_path %>
