<p id="notice"><%= notice %></p>

<h1>Sorteots</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>ABRIR/CERRAR</th>
      <th>Descripcion</th>
      <th>Sigla</th>
      <th>Activo</th>
      <th>Horariosorteo</th>
      <th>Loteria</th>
      <th>AliasMovil</th>  
      <th>Abierto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorteots.each do |sorteot| %>
      <tr>
        <td style="color:red;"><%= sorteot.nombre %></td>
        <td><b><%= link_to 'ABRIR/CERRAR', edit_sorteot_path(sorteot) %></b></td>
        <td><%= sorteot.descripcion %></td>
        <td><%= sorteot.sigla %></td>
        <td><%= sorteot.activo %></td>
        <td><%= sorteot.horariosorteot.nombre %></td>
        <td><%= sorteot.loteriat.nombre %></td>
        <td><%= sorteot.abreviaturamovil %></td>
        <td><b style="color:red;"><%= sorteot.abierto %></b></td>
        <td><b><%= link_to 'ABRIR/CERRAR', edit_sorteot_path(sorteot) %></b></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

