<p id="notice"><%= notice %></p>

<h1>Activacion cliente-sucursal</h1>

<table>
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>StatusCliente</th>
      <th>Tipocliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activacionclientets.each do |activacionclientet| %>
      <tr>
        <td><%= activacionclientet.email %></td>

        <td><%= activacionclientet.clienteid == "nil"? "Reseteado":"Activo" %></td>

        <td><%= activacionclientet.tipocliente %></td>
        <td><%= link_to 'Reset', activacionclientet %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Menu', menuts_path %>

