<!DOCTYPE html>
<html>
  <head>
    <title>GFFSPORT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=0"> 

  </head>

  <body style="background-color: #ffdad8">
    <% #f9c5c5 %>
    <% #b5ebf2 %>
    

<!--Mensaje de error de login o demas gema Devise ted ok -->
	
		 <!--DOS ETIQUETAS MANDATORIAS POR DEVICE GEM -->
    <% if  not user_signed_in?  %>
      <p id="alert22" class="alert"><%= alert %></p>
    <% end %>
	
  
 <!-- Limpiar el mensaje luego de 3segs.  -->
  <script type="text/javascript"> 

	function limpiar_mensaje() {
		
		document.getElementById('alert22').style.display = 'none';
    	document.getElementById('alert22').style.visibility = 'none';
    	document.getElementById('notice').style.display = 'none';
    	document.getElementById('notice').style.visibility = 'none';
    	
	}
	window.setTimeout(limpiar_mensaje, 2000);
  	
  </script>


  <div id="detalles_usuario">

    <% if user_signed_in? && (session[:tipo_cliente] != "movil") %>

<button class="buttontk" onclick="location.href='../jugadalots/new';"><b> < </b></button>
<button class="buttontk"><b> <%=link_to 'MENU', menuts_path %></b> </button>
<button class="buttontk"><b> <%=link_to 'LN', '../lineatprints'%></b> </button>

<button class="buttontk"><b> <%=current_user.email.split("@")[0][0..8]%></b> </button>







      
      <button class="buttontk" onclick="location.href='../jugadalots/new';"><b><%= link_to "X", destroy_user_session_path, method: :delete %></b></button>
      
    <% else if not user_signed_in? %>
     
      <%= link_to "Login", new_user_session_path %>
      <%end%>
    <% end %>




  </div>

  <%= yield %>
   
  <div id="footer_div_ok">
    
    <footer>
    </br>
    
     <button class="button" type="button" onclick= <%= "location.href=" + "\'" + jugadalots_path.to_s + "/new" + "\'" + ";"%> >INICIO</button> 
    </footer>

  </div>

  </body>

</html>
